{% extends 'base.html.twig' %}

{% block title %}A propos de nous |  {{ parent() }}{% endblock %}

{% block body %}

    <img src="{{ asset('Images/photo_2024-01-31_20-06-58.jpg') }}" alt="Ma photo" width="200px" height="150px" style="border-radius: 15%">

    <h3>Créateur : BENYO Kokou <span style="color: #922e2e">&blacklozenge;</span></h3>

    <p><a href="{{ path('app_home') }}">Reveir à la page d'accueil</a></p>
    
{% endblock %}