{% extends 'base.html.twig' %}

{% block body %}

    <img src="{{ asset('Images/flags-pirates_1.png') }}" alt="Drapeau" width="200" height="150">

    <h1 class="mt—5 text—3xl Ism: text—5xl font—semibold text—indigo-600"> Salut ! Salut !!</h1>

    <p>Il est présentement {{ 'now' | date('H:i A') }}.</p>

{% endblock %}