{% extends 'base.html.twig' %}

{% block body %}

    <img src="{{ asset('Images/flags-pirates_1.png') }}" alt="Drapeau" width="200" height="150">

    <h1 class="mt—5 text—3xl Ism: text—5xl font—semibold text—indigo-600"> Salut ! Salut !!</h1>

    <div style="text-align: center;"><div style="background-color: black; color: white; width: 20%; height: 50%; margin: 5px auto; padding-top: 5px;" ;>Il est présentement {{ 'now' | date('H:i A') }}.</div></div>

{% endblock %}