<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink—to—fit=no">
        <title>{% block title %}Hello city {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        {% endblock %}

        {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div style="text-align: center;">
            <main role="main">
                {% block body %}{% endblock %}
            </main>
        </div>
        <footer style="display: flex; align-items: flex-end; height: 40vh;justify-content: center;">
            <p>&copy; CopyRight {{ 'now' | date('Y') }}. &middot; <a href="{{ path('app_about') }}">About us </a></p>
        </footer>

        <style>
            /* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
            /* Exo thin font from Google. */
            @import url(https://fonts.googleapis.com/css?family=Exo:100);
            /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
            /* Animations */
            @-webkit-keyframes bg-scrolling-reverse {
                100% {
                    background-position: 50px 50px;
                }
            }
            @-moz-keyframes bg-scrolling-reverse {
                100% {
                    background-position: 50px 50px;
                }
            }
            @-o-keyframes bg-scrolling-reverse {
                100% {
                    background-position: 50px 50px;
                }
            }
            @keyframes bg-scrolling-reverse {
                100% {
                    background-position: 50px 50px;
                }
            }
            @-webkit-keyframes bg-scrolling {
                0% {
                    background-position: 50px 50px;
                }
            }
            @-moz-keyframes bg-scrolling {
                0% {
                    background-position: 50px 50px;
                }
            }
            @-o-keyframes bg-scrolling {
                0% {
                    background-position: 50px 50px;
                }
            }
            @keyframes bg-scrolling {
                0% {
                    background-position: 50px 50px;
                }
            }
            /* Main styles */
            body {
                margin-top: 3.5rem;
                color: #000000;
                font: 400 16px/1.5 exo, ubuntu, "helvetica neue", arial, sans-serif;
                text-align: center;
                /* img size is 50x50 */
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
                -webkit-animation: bg-scrolling-reverse 0.92s infinite;
                /* Safari 4+ */
                -moz-animation: bg-scrolling-reverse 0.92s infinite;
                /* Fx 5+ */
                -o-animation: bg-scrolling-reverse 0.92s infinite;
                /* Opera 12+ */
                animation: bg-scrolling-reverse 0.92s infinite;
                /* IE 10+ */
                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
                -o-animation-timing-function: linear;
                animation-timing-function: linear;
            }
            body::before {

                font-size: 8rem;
                font-weight: 100;
                font-style: normal;
            }
        </style>
    </body>
</html>
